app-login {
}

.container-fluid {
  background-image: url("../../../../assets/dassee/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
}

.main {
  height: 100%;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
}
