<div class="container-fluid">
  <div class="row" style="height:20%">

  </div>
  <div class="row" style="height:80%">
    <div class="col-2 offset-md-5">
      <div class="row">Login</div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username">@</span>
          </div>
          <input [(ngModel)]="phone" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      </div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="password">@</span>
          </div>
          <input [(ngModel)]="password" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="row">
        <button type="button" (click)="onLoginClick()" class="btn btn-dark btn-block">LOGIN {{phone}}</button>
      </div>
    </div>
  </div>
</div>
